* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  background-color: #23252C;
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 317px;
  /* max-height: 800px; */
  /* display: flex; */
  /* justify-content: center; */
  background-color: #1A1B21;
  border-radius: 10px;
  margin: 44px 0;
}

.info {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__photo {
  width: 317px;
  border-radius: 10px 10px 0 0;
}

.info__title {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
}

.info__subtitle {
  color: #F3BF99;
  margin-top: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;  
}

.info__link {
  text-decoration: none;
  margin-top: 9px;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */
  color: #F5F5F5;
}

.info__buttons {
  display: flex;
  margin: 15px 35px 0;
  justify-content: space-around;
}

.info__button {
  border: none;
  width: 115px;
  height: 34px;
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.info__button > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.info__button--email {
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  margin-right: 17px;
}

.info__button--ld {
  background-color: #5093E2;
  color: #FFFFFF;
}

.about {
  margin: 33px 35px 0;
}

.about__title {
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #F5F5F5;
}

.about__text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* or 15px */
  color: #DCDCDC;
}

.interests {
  margin: 13px 35px 0;
}

.interests__title {
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #F5F5F5;
}

.interests__text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* or 15px */
  color: #DCDCDC;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  height: 65px;
  background: #161619;
  margin-top: 40px;
}

.footer__icon {
  width: 25px;
}

.footer__icon:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}


